/*@media (min-width: 1200px)
.footer {
	width: 1170px;
}

@media (min-width: 992px)
.footer {
	width: 970px;
}
@media (min-width: 768px)
.footer {
	width: 750px;
}*/

/*.body-heigth{
	height: 100%;
	}*/
	body{
		padding-top: 20px;
	}
	.container {
		widows: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}


	footer {
		bottom: 0;
		width: 100%;
		height: 20px;
		background-color: #f5f5f5;
	}
	.center{
		text-align: center;
	}

	.overflow{
		overflow-y: scroll;
	}
	/*#variable_conteiner li {
		margin: 0 3px 3px 3px;
		padding: 0.4em;
		padding-left: 1.5em;
		font-size: 1.4em;
		height: 18px;
	}
	#variable_conteiner li span {
		position: absolute;
		margin-left: -1.3em;
		}*/
		.panel-body {
			min-height: 500px;
			width: 100%;
			height: 100%;
			background-color: white;
		}
		.queryPart{
			margin-left: 15px;
		}

		.runQuery{
			margin-top: 25px;
		}

		 ul#variable_conteiner, ul#queryBuldier{
			min-height: 500px;
			height: 500px;
		}
		ul#variable_conteiner, ul#queryBuldier {
			border: 1px solid #eee;
			width: 100%;
			min-height: 20px;
			list-style-type: none;
			margin: 0;
			padding: 5px 0 0 0;
			float: left;
			margin-right: 10px;
		}
		ul#variable_conteiner li, ul#queryBuldier li {
			margin: 0 5px 5px 5px;
			padding: 5px;
			font-size: 1.2em;

			width: 100%;
		}
		#tools{
			min-height: 500px;
			height: 500px;
		}
	.ui-hawc-state-active{
		border: 1px solid #003eff;
		background: #b3d9ff;
		font-weight: normal;
		color: #ffffff;
}
		table#propertiesEditor {
			width: 100%;
			table-layout: auto;
		}
